@page "/qrgenerator"
@using QRCoder;
@using System.IO;
@using System.Drawing.Imaging;
@using System.Drawing;


<input type="text" @bind="Url" style="width:1000px;" />

<br />
<br />

<button class="btn btn-primary" @onclick="@GenerateQRCode">Genera QR</button>

<br />
<br />

<p>@strQRCode</p>

<br />
<br />

<img src="@strQRCode" style="width:300px;height:300px;" />


@code {

    string Url { get; set; } = "";
    string strQRCode { get; set; } = "";

    public void GenerateQRCode()
    {
        strQRCode = "";
        if (!string.IsNullOrEmpty(Url))
        {
            using (MemoryStream ms = new MemoryStream())
            {
                QRCodeGenerator qrGenerator = new QRCodeGenerator();
                QRCodeData qrCodeData = qrGenerator.CreateQrCode(Url, QRCodeGenerator.ECCLevel.Q);
                QRCode qrCode = new QRCode(qrCodeData);
                using (Bitmap bitmap = qrCode.GetGraphic(20))
                {
                    bitmap.Save(ms, ImageFormat.Png);
                    strQRCode = "data:image/png;base64," + Convert.ToBase64String(ms.ToArray());
                }
            }
        }

    }

}
