@page "/redirect"
@inject NavigationManager NavigationManager

<h3>@Url</h3>

@code {

    [Parameter]
    [SupplyParameterFromQuery]
    public string? Url { get; set; }

    protected override async Task OnInitializedAsync()
    {
        if (string.IsNullOrWhiteSpace(Url) || string.IsNullOrEmpty(Url))
            NavigationManager.NavigateTo("Error",true); //URL VUOTO
        else
        {
            Uri uriResult;
            bool result = Uri.TryCreate(Url, UriKind.Absolute, out uriResult) 
			    && (uriResult.Scheme == Uri.UriSchemeHttp || uriResult.Scheme == Uri.UriSchemeHttps);

            if(result)
                NavigationManager.NavigateTo(Url, true);
            else
                NavigationManager.NavigateTo("Error",true); //NOT VALID URL
        }
        
    }


}
